html,body{
  font-family: Palatino, “Palatino Linotype”, “Urw Palladio L”, Serif;
  font-family: Georgia, “Dejavu Serif”, Serif;
  font-family: “Courier New”, Courier, “Nimbus Mono L”, Monospace;
  font-family: “Helvetica Neue”, Helvetica, “Nimbus Sans L”, San-Serif;
  font-family: Verdana, “Dejavu Sans”, San-Serif;
}
:root {
  --color-cabecera: #5e81d1;
  --color-barra-info: #f87500;
  --color-contenido-principal: #ff8d27;
  --color-contenido-principal-hover: #c16b1e;
  --altura-cabecera: 100px;
  --altura-barra-info: 55px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.cabecera {
  background-color: var(--color-cabecera);
  height: var(--altura-cabecera);
  display: flex;
  justify-content: row;
}
h1 {
  justify-content; flex-start;
}
nav {
  justify-content: flex-end;
  .lista{
    font-weight: bold;
  }
}
nav.ul.li:hover{
  text-decoration: underline;
}
  .barra-informativa {
  background-color: var(--color-barra-info);
  height: var(--altura-barra-info);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.contenido-principal {
  background-color: var(--color-contenido-principal);
  min-height: calc(100vh - var(--altura-cabecera) - var(--altura-barra-info));
}
.nav-links {
  margin: 0;
}
.list-links {
  margin: 0;
  display: flex;
  justify-content: column;
  align-items: space-between;
  background-color: var(--color-contenido-principal);
}
.list-links:hover{
  background-color: var(--color-contenido-principal-hover);
}

.listlinks>li{
  display: flex;
  justify-content: row;
  justify-content: space-between;
  align-items: center;
}

.precio-icono{
  justify-content: flex-end;
}

.barra-info-text p {
  font-size: 22px;
}
.icon1 {
  font-size: 30px;
  color: #222;
}
