:root {
  --color-cabecera: #5e81d1;
  --color-barra-info: #f87500;
  --color-contenido-principal: #ff8d27;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.cabecera {
  background-color: var(--color-cabecera);
}
.barra-informativa {
  background-color: var(--color-barra-info);
}
.contenido-principal {
  background-color: var(--color-contenido-principal);
}
.list-links li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.barra-informativa {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.barra-info-text p {
  font-size: 25px;
}
